<h1>Secrets</h1>
<%@secrets.each do |s|%>
    <h3><%=s.content%></h3>
    <!-- <p>Posted by: <%=s.user.name%></p> -->
    <% if @secret_ids.include? s.id %>
        <a href="/likes/<%=s.id%>" data-method='delete'><button>Unlike</button></a>
    <%else%>
        <a href="/likes/<%=s.id%>"><button>Like</button></a>
    <% end %>
        <a href="/secrets/<%=s.id%>" data-method='delete'><button>Delete</button></a>
<%end%>
