<h1>Dojos</h1>
<a href="/new"><button>Add Dojo</button></a>
<table>
    <thead>
        <th>Branch</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
    </thead>
    <% @dojos.each do |x| %>
    <tbody>
        <td><%=x.branch%></td>
        <td><%=x.street%></td>
        <td><%=x.city%></td>
        <td><%=x.state%></td>
        <td><a href="/dojo/<%= x.id %>"><button>Show</button></a></td>
        <td><a href="/dojo/edit/<%= x.id %> "><button>Edit</button></a></td>
        <td><a href="/dojo/<%= x.id %>" data-method="delete"><button>Delete</button></a></td>
    </tbody>
    <% end %>
</table>
